#home .home-thumb .form-control {
    display: inline !important;
}

#dupcontact .form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0px;
    box-shadow: none;
    color: #132b5c;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: all 0.4s ease-in-out;
}

#dupcontact input {
    height: 45px;
}