#home .home-thumb{

	font-size: 17pt !important;
	padding: 40px 80px 30px 80px !important;
	width: 100% !important;
	margin-top: 160px !important;
}



/*Button Continue */
.button-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	background-color: #3b5998; /* Facebook blue color */
	border: none;
	border-radius: 50%;
	color: white;
	font-size: 24px;
	cursor: pointer;
	outline: none;
	margin-top: 30px;
}

.button-circle:focus {
	box-shadow: 0 0 0 4px rgba(59, 89, 152, 0.3); /* Focus outline */
}

.button-circle-text {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #3b5998;
	font-family: Arial, sans-serif;
}
/* End Button Continue*/



/* Tooltip */

.input-with-icon {
	display: flex;
	align-items: center;
}

.input-with-icon input {
	flex-grow: 1;
}

.info-icon {

	margin-left: 10px;
	cursor: pointer;
	color: #337ab7; /* Set icon color to blue */
	background-color: transparent; /* Set background to transparent */
	border-radius: 50%; /* Make the border round */
	padding: 2px /* Optional: Add padding for spacing */
}
/* Custom tooltip styles */
.tooltip-inner {
	background-color: white !important;
	color: black !important;
	padding: 10px !important;
	text-align: right;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	border: none; /* Remove border */
	border-radius: .25rem; /* Optional: Add border radius for rounded corners */
	text-align: justify;
}

.tooltip.bs-tooltip-top .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-left .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
	border-top-color: white !important; /* Match the border color with tooltip background */
}
/* End Tooltip */



#home .home-thumb .form-control{
	display: inline !important;
}

.thumbnail{
	border: 1px solid #58688c !important;
	color: #3b5998 !important;
}

.thumbnail .caption{
	color: #337ab7 !important;
}


#home #contact-form .panel-result{
	margin-bottom: 40px;
}




/* Extra small devices (portrait phones, less than 767px) */
@media (max-width: 767px) {
    #home .home-thumb{
		margin-top: 20px !important;
   }

	#home .home-img{
		/*position: relative;*/
		width: 100%;
		height: 45vh !important;
	}



	.tagline {
		position: static; /* Default position */
		transform: none; /* Reset transform */
		width: auto; /* Reset width */
		padding: 15px; /* Adjust padding */
		text-align: center;
		color: #ffffff;
		margin-top: -240px !important;
	}

	.container .row .left .tagline h1 {
		font-size: 1.7em;
	}

	.tagline h3 {
		font-size: 1.3em;
	}
}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
	#home .home-img {
        height: 100vh;
        position: fixed;
        width: 50%;

    }

    .tagline{
        height: 100vh;
        margin-top: 200pt;
        position: fixed;
        width: 50%;
		color: #ffffff;
		padding-left: 40pt;
		line-height: 100pt;
		
    }
	
	
	.button-circle {
		margin-left: 45px;
		
   }

   .button-circle-text {
		margin-left: 45px;
   }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	
	#home .home-img {
        height: 100vh;
        position: fixed;
        width: 50%;

    }

    .tagline{
        height: 100vh;
        margin-top: 200pt;
        position: fixed;
        width: 50%;
		color: #ffffff;
		padding-left: 40pt;
		line-height: 100pt;
    }

	
	.button-circle {
		margin-left: 160px;
   }

   .button-circle-text {
		margin-left: 160px;
   }
}



/* LG */
@media (min-width: 1200px){
	.button-circle {
		margin-left: 250px;
   }

   .button-circle-text {
		margin-left: 248px;
   }

	#home .home-img {
		height: 100vh;
		position: fixed;
		width: 50%;

	}

	.tagline{
		height: 100vh;
		position: fixed;
		width: 50%;
		top: 50%;
		padding-right: 40px;
		padding-left: 70px;
		color: #ffffff;
	}
}



@media (min-width: 1400px) {
	.tagline{
		
		margin-top: 5pt;
		color: #ffffff;
	}
  }

