/* Style for the tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Style for the tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #3333;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 110%; /* Position the tooltip to the right of the element */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Style for the tooltip text - show on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Style for the information text */
.tooltip .tooltip-info {
    display: block;
}
