.bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 30%;
    background-color: #3b5998;
    color: white;
    text-align: right;
    padding: 10px;
    display: block;
    background-image: initial !important; /* Reset background image */
    background-position: 50% 314px !important; /* Adjust background position */
}

.bottom-panel h3{
    margin-right: 30pt;
}




.red-required {
 color: red;
 font-size: 12pt;
}

.invalid-feedback {
      display: none;
      color: red;
}

.wow .error-container {
      margin-top: -15px;
      margin-bottom: 10px;
      color: red !important;
      font-size: 10pt;
      font-style: italic;  /* Added to make the font italic */
 }


.is-invalid {
      border-color: red !important;
}

.is-invalid ~ .invalid-feedback {
      display: block;
 }

 
 /* color panel result*/
#experience .experience-thumb{
    background-color: #f6f6f6 !important;
 }

 .color-white{
    color: #3b5999 !important;
    
 }
 /* end color panel result*/


.pull-right{
    float: right !important;
 }


 .mb5{
    margin-bottom: 20px;
 }

 .mb7{
    margin-bottom: 25px;
 }

 .mt5{
    margin-bottom: 20px;
 }

 .label-term{
    font-size: 11pt;
 }

/* Left Side full */
/* End left Side full */

/* Hover click Pen */
.hover-icon {
    position: relative;
    display: inline-block;
}

.hover-icon .fa-pen {
    transition: background-color 0.3s, color 0.3s;
    padding: 7px;
    border-radius: 50%;
}

.hover-icon:hover .fa-pen {
    background-color: #8daced; /* Change to desired hover background color */
    color: white; /* Change to desired hover text color */
}
/* End Hover click Pen */

.error-message{
    font-size: 12pt;
}
