

     .red-required {
     color: red;
     font-size: 12pt;
     }

     .invalid-feedback {
          display: none;
          color: red;
     }

     .wow .error-container {
          margin-top: -15px;
          margin-bottom: 10px;
          color: red !important;
          font-size: 10pt;
          font-style: italic;  /* Added to make the font italic */
          
     }
 

     .is-invalid {
          border-color: red !important;
     }
     .is-invalid ~ .invalid-feedback {
          display: block;
     }

     
     /* color panel result*/
     #experience .experience-thumb{
        background-color: #f6f6f6 !important;
     }

     .color-white{
        color: #3b5999 !important;
        
     }
     /* end color panel result*/


    .pull-right{
        float: right !important;
     }

    /* Left Side full */

    /* End left Side full */

