
.media-body h3{
    font-size: 22px;
    padding-bottom: 5px;
 }

 .media-body p{
    letter-spacing: 1.2px;
    margin-bottom: 0px;
 }


#experience .media .fa {
    font-size: 30px;
 }


 #experience .experience-thumb{
    margin-bottom: 50px;
 }


 #home .home-img {
    height: 200vh;
 }

 #bottomPanel {
    background-image: initial !important;
    background-position: 50% 314px;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   #home .home-img {
       height: 100vh;
       position: fixed;
       width: 50%;

   }


   .state{
       padding-right: 10pt !important 
   }

   /*.postcode{
       margin-right: 20pt !important;
   }*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
   #home .home-img {
       height: 100vh;
       position: fixed;
       width: 50%;

   }


   #experience .experience-thumb{
       margin-top: -30px;
    }

   /*.postcode{
       margin-right: 20pt !important;
   }*/
}

/* Super LG */
@media (min-width: 1200px){
   #home .home-img {
       height: 100vh;
       position: fixed;
       width: 50%;

   }

 

   .state{
       padding-right: 10pt !important;
   }

   /*.postcode{
       margin-right: 20pt !important;
   }*/

}



