.left{
    color: #ffffff !important;     
    z-index: 1;
}
.front-right{
    margin-top: 24px !important;

}
.front-left{
    margin-top: 180px !important;
    padding-right: 100px !important;
}
body {
    height: 95vh;
}

table .select2-container–default .select2-selection–single {
    border: none;
}