
.icon-id-card:before { content: '\e800'; } /* '' */
.icon-interview:before { content: '\e801'; } /* '' */
.icon-job:before { content: '\e802'; } /* '' */
.icon-job-search:before { content: '\e803'; } /* '' */
.icon-job-search-1:before { content: '\e804'; } /* '' */
.icon-marketing:before { content: '\e805'; } /* '' */
.icon-planning:before { content: '\e806'; } /* '' */
.icon-planning-1:before { content: '\e807'; } /* '' */
.icon-presentation:before { content: '\e808'; } /* '' */
.icon-resume:before { content: '\e809'; } /* '' */
.icon-teamwork:before { content: '\e80a'; } /* '' */
.icon-video-conference:before { content: '\e80b'; } /* '' */
.icon-workers:before { content: '\e80c'; } /* '' */
.icon-curriculum:before { content: '\e80d'; } /* '' */
.icon-curriculum-1:before { content: '\e80e'; } /* '' */
.icon-engineer:before { content: '\e80f'; } /* '' */
.icon-group:before { content: '\e810'; } /* '' */
.icon-group-1:before { content: '\e811'; } /* '' */
.icon-human-resources:before { content: '\e812'; } /* '' */
.icon-human-resources-1:before { content: '\e813'; } /* '' */
.icon-031-hierarchical-structure:before { content: '\e814'; } /* '' */
.icon-031-id-card:before { content: '\e815'; } /* '' */
.icon-031-incentive:before { content: '\e816'; } /* '' */
.icon-031-intelligence:before { content: '\e817'; } /* '' */
.icon-031-job-search:before { content: '\e818'; } /* '' */
.icon-031-management:before { content: '\e819'; } /* '' */
.icon-031-management-1:before { content: '\e81a'; } /* '' */
.icon-031-management-2:before { content: '\e81b'; } /* '' */
.icon-031-motivation:before { content: '\e81c'; } /* '' */
.icon-031-organization:before { content: '\e81d'; } /* '' */
.icon-031-profits:before { content: '\e81e'; } /* '' */
.icon-031-promotion:before { content: '\e81f'; } /* '' */
.icon-031-relation:before { content: '\e820'; } /* '' */
.icon-031-salary:before { content: '\e821'; } /* '' */
.icon-031-settings:before { content: '\e822'; } /* '' */
.icon-031-settings-1:before { content: '\e823'; } /* '' */
.icon-031-strategy:before { content: '\e824'; } /* '' */
.icon-031-team:before { content: '\e825'; } /* '' */
.icon-031-training:before { content: '\e826'; } /* '' */
.icon-031-vacations:before { content: '\e827'; } /* '' */
.icon-031-administrator:before { content: '\e828'; } /* '' */
.icon-031-analysis:before { content: '\e829'; } /* '' */
.icon-031-analysis-1:before { content: '\e82a'; } /* '' */
.icon-031-balance:before { content: '\e82b'; } /* '' */
.icon-031-briefcase:before { content: '\e82c'; } /* '' */
.icon-031-contract:before { content: '\e82d'; } /* '' */
.icon-031-database:before { content: '\e82e'; } /* '' */
.icon-031-email:before { content: '\e82f'; } /* '' */
.icon-031-employee:before { content: '\e830'; } /* '' */
.icon-031-evaluation:before { content: '\e831'; } /* '' */
.icon-017-analysis:before { content: '\e832'; } /* '' */
.icon-018-businessman-1:before { content: '\e833'; } /* '' */
.icon-019-meeting:before { content: '\e834'; } /* '' */
.icon-020-worker:before { content: '\e835'; } /* '' */
.icon-021-user:before { content: '\e836'; } /* '' */
.icon-022-megaphone-1:before { content: '\e837'; } /* '' */
.icon-023-video-call:before { content: '\e838'; } /* '' */
.icon-024-teamwork-1:before { content: '\e839'; } /* '' */
.icon-025-presentation-1:before { content: '\e83a'; } /* '' */
.icon-026-businessman:before { content: '\e83b'; } /* '' */
.icon-027-curriculum:before { content: '\e83c'; } /* '' */
.icon-028-presentation:before { content: '\e83d'; } /* '' */
.icon-029-engineer:before { content: '\e83e'; } /* '' */
.icon-030-conversation:before { content: '\e83f'; } /* '' */
.icon-031-teamwork:before { content: '\e840'; } /* '' */
.icon-032-planning:before { content: '\e841'; } /* '' */
.icon-033-relation:before { content: '\e842'; } /* '' */
.icon-034-add-user:before { content: '\e843'; } /* '' */
.icon-035-administrator:before { content: '\e844'; } /* '' */
.icon-036-balance:before { content: '\e845'; } /* '' */
.icon-037-calendar:before { content: '\e846'; } /* '' */
.icon-038-hierarchical-structure-1:before { content: '\e847'; } /* '' */
.icon-039-note:before { content: '\e848'; } /* '' */
.icon-040-database:before { content: '\e849'; } /* '' */
.icon-041-hierarchical-structure:before { content: '\e84a'; } /* '' */
.icon-042-id-card:before { content: '\e84b'; } /* '' */
.icon-043-email:before { content: '\e84c'; } /* '' */
.icon-044-briefcase:before { content: '\e84d'; } /* '' */
.icon-045-strategy:before { content: '\e84e'; } /* '' */
.icon-046-management:before { content: '\e84f'; } /* '' */
.icon-047-profits-1:before { content: '\e850'; } /* '' */
.icon-048-megaphone:before { content: '\e851'; } /* '' */
.icon-049-profits:before { content: '\e852'; } /* '' */
.icon-050-team:before { content: '\e853'; } /* '' */
.icon-001-job-search:before { content: '\e854'; } /* '' */
.icon-002-salary:before { content: '\e855'; } /* '' */
.icon-003-contract:before { content: '\e856'; } /* '' */
.icon-004-intelligence:before { content: '\e857'; } /* '' */
.icon-005-placeholder:before { content: '\e858'; } /* '' */
.icon-006-motivation:before { content: '\e859'; } /* '' */
.icon-007-settings:before { content: '\e85a'; } /* '' */
.icon-008-stopwatch:before { content: '\e85b'; } /* '' */
.icon-009-diploma:before { content: '\e85c'; } /* '' */
.icon-010-clipboard:before { content: '\e85d'; } /* '' */
.icon-011-target:before { content: '\e85e'; } /* '' */
.icon-012-handshake:before { content: '\e85f'; } /* '' */
.icon-013-meeting-1:before { content: '\e860'; } /* '' */
.icon-014-networking:before { content: '\e861'; } /* '' */
.icon-015-book:before { content: '\e862'; } /* '' */
.icon-016-desk:before { content: '\e863'; } /* '' */
.icon-quality:before { content: '\e864'; } /* '' */
.icon-idea:before { content: '\e865'; } /* '' */
.icon-target:before { content: '\e866'; } /* '' */
.icon-users:before { content: '\e867'; } /* '' */
.icon-like:before { content: '\e868'; } /* '' */
.icon-network:before { content: '\e869'; } /* '' */
.icon-left-arrow:before { content: '\e86a'; } /* '' */
.icon-right-arrow:before { content: '\e86b'; } /* '' */