@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

input[type='file'] {
  color: transparent;
}

img {
    pointer-events: none;
}

img[src='']{
    display: none;
}

.form-check-inline{
    color: #0155a2 !important;
}

label[class='form-check-label']{
    color: #0155a2 !important;
}


.card .card-body .form-check-inline label .form-check-label{
    color: #0155a2 !important;
}



