/***START RWD***/
/*
 * USE TO STORE GENERAL USE CSS
 */
.float-right {
	float: right;
}

.display-inline{
	display: inline-block;
}

.divider-line{
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCCCCC;
}

.no-padding{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
/*adjust from 20px to 13px so that in mobile view will be nicer */
.padding-left-lv1{
	padding-left: 13px;
}

.padding-left-lv2{
	padding-left: 40px;
}

.background-white{
	background-color: #fff;
}

.icon{
	display: inline;
	width: 14px;
	height: 14px;
}

/*Edit Button*/
div.editPage{
	text-align: right;
}

/*FIX jquery 1.10 dialog close button bug*/
.ui-dialog .ui-dialog-titlebar-close{
	position: absolute;
	right: .3em;
	top: 50%;
	width: 17px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 19px;
	cursor: pointer;
}

.text-primary{
	color: #002D62;
}

.text-secondary{
	color: #9A9B9C;
}

.text-white, a.text-white{
	color: #FFF;
}

.text-danger{
	color: #EF2F23;
}

.text-success{
	color: #5cb85c;
}

.text-diff{
	color: #004492;
}

.text-bold{
	font-weight: bold;
}

.text-break{
	word-wrap: break-word;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.background-colour{
	color: white;
	background-color: #002D62;
	text-align: center;
}

.favPaymentType {
	width:250px;
}
/***END RWD***/