
#basic-modal-content1 {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

@media only screen
and (min-device-width : 200px)
and (max-device-width : 320px)
and (orientation : landscape) {

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:250px;
		height:187px;
		background-size: 250px 187px;
	}


}

@media only screen
and (min-device-width : 200px)
and (max-device-width : 320px)
and (orientation : portrait) {

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:250px;
		height:187px;
		background-size: 250px 187px;
	}


}

@media only screen
and (min-device-width : 321px)
and (max-device-width : 768px)
and (orientation : landscape) {

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:350px;
		height:261px;
		background-size: 350px 261px;
	}


}

@media only screen
and (min-device-width : 321px)
and (max-device-width : 450px)
and (orientation : portrait) {

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:350px;
		height:261px;
		background-size: 350px 261px;
	}


}

@media 
and (min-device-width : 451px)
and (max-device-width : 600px){

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:400px;
		height:299px;
		background-size: 400px 299px;
	}


}

@media 
and (min-device-width : 601px)
and (max-device-width : 767px){

	#simplemodal-container{
		margin-left:auto;margin-right:auto;
		width:580px;
		height:433px;
		background-size: 580px 433px;
	}


}

@media only screen and (device-width: 768px) {

	#simplemodal-container{
		width:650px;
		height:480px;
		background-size: 650px 480px;
	}


}
@media only screen 
and (min-device-width: 770px){

	#simplemodal-container{
		width:650px;
		height:480px;
		background-size: 650px 480px;
	}
}
